@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: #F9F5EB;
  background: #002B5B;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #F9F5EB;
    background: #002B5B;
  }
}

/* styling for landing page */
.atm-wrapper {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.num-pin-text {
  text-align: center;
  font-size: 1.5rem;
}

.atm-title {
  text-align: center;
  font-weight: 300;
  font-size: 3.5rem;
}

.home-title {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
}

#date-time {
  text-align: center;
}

.atm-button {
  height: 4rem;
  width: 20rem;
  font-size: 1.5rem;
  font-weight: 500;
  background: linear-gradient(
    0deg,
    #e42626,
    #e85959,
    #ec8989
  );
  border-radius: 30px;
  box-shadow: 0;
  border: 0;
}

.atm-button:hover {
  cursor: pointer;
}

.select-button {
  height: 4rem;
  width: 20rem;
  font-size: 1.5rem;
  font-weight: 500;
  background: linear-gradient(
    0deg,
    #837762,
    #a29887,
    #c9bdad
  );
  border-radius: 30px;
  box-shadow: 0;
  border: 0;
}

.select-button:hover {
  cursor: pointer;
}

.input-bar {
  background-color:#021e3e;
  color: #F9F5EB;
  border-radius: 30px;
  height: 3rem;
  width: 20rem;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0;
  border: 0;
}

.links-col1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-inline-end: 15rem;
  margin-block: 3rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.atm-link {
  margin-block: 0.75rem;
}

.login-page {
  animation: 4s ease 0s normal forwards 1 fadein;
  -webkit-animation:3s ease 0s normal forwards 1 fadein;
  opacity:1;
}
  
  @keyframes fadein{
      0%{opacity:0}
      80%{opacity:0}
      100%{opacity:1}
  }
  
  @-webkit-keyframes fadein{
      0%{opacity:0}
      80%{opacity:0}
      100%{opacity:1}
  }

/* styling for transaction pages */
.transaction-wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-content: center;
  align-items: center;
}

.transaction-wrapper * {
  margin-block: 10px;
  margin-top: 50px;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trans-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trans-label {
  font-size: 2.25rem;
  font-weight: 300;
  margin-inline: 2rem;
}

.trans-balance {
  font-weight: 500;
  letter-spacing: 2px;;
  font-size: 1.5rem;
}

.trans-currBalance {
  font-size: 4rem;
  font-weight: 300;
  color: #EA5455;
  letter-spacing: 2px;
}

.login-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 1rem;
}

.login-label {
  margin-inline-end: 0.25rem;
}

.logout-button {
  margin-inline-start: 1.5rem;
  padding: 0.75rem;
  border-radius: 30px;
  border: 2px black;
}

.back-button {
  margin-block-start: 30px;
  margin-inline-start: 1.5rem;
  padding: 0.75rem;
  border-radius: 30px;
  border: 2px black;
}

.logout-button:hover {
  cursor: pointer;
}

.back-button:hover {
  cursor: pointer;
}

