html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.atm-title {
  text-align: center;
}

.atm-button {
  padding: 10%;
  height: 5rem;
  width: 10rem;
  font-size: 1rem;
}

.home-links {
  padding-block-start: 10%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 150px;
  width: 100%;
  align-content: center;
}

.home-link__link {
  flex: 1 auto;
  border: 1px solid black;
}
